
/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",Tahoma,sans-serif;
}

/* Body */
body{
    min-height:100vh;
    background:radial-gradient(circle at top,#1f2933,#0f172a);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

/* Card */
.container{
    width:100%;
    max-width:600px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(12px);
    border-radius:20px;
    padding:35px;
    border:1px solid rgba(255,255,255,0.15);
    box-shadow:0 25px 50px rgba(0,0,0,0.5);
}

/* Header */
h1{
    text-align:center;
    color:white;
    margin-bottom:20px;
}

/* Inputs */
input,select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:none;
    outline:none;
    background:rgba(255,255,255,0.1);
    color:white;
}

input::placeholder{
    color:#cbd5e1;
}

option{
    background:#0f172a;
}

/* Button */
button{
    width:100%;
    margin-top:20px;
    padding:12px;
    border:none;
    border-radius:25px;
    background:linear-gradient(135deg,#38bdf8,#2563eb);
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);
}

/* Result */
.result{
    display:none;
    margin-top:25px;
    padding:20px;
    border-radius:12px;
    background:rgba(56,189,248,0.15);
}

.result p{
    color:white;
    margin:6px 0;
}

